


{% extends "base_layout.html" %}

{% block main %}

    <div id="content" class="site-content">
        <div class="container">
            <div class="sml-page-wrap no-sidebar">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">

                        <article id="post-121" class="post-121 page type-page status-publish hentry">
                            <div class="sml-single-page-wrapp">

                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <div class="woocommerce-notices-wrapper"></div>

                                        <div class="u-columns col2-set" id="customer_login">

                                            <div class="u-column1 col-1">


                                                <h2>Login (admin vira2021)</h2>

                                                <form class="woocommerce-form woocommerce-form-login login"
                                                      method="post">
                                                    {% csrf_token %}

                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="username">Username or email address&nbsp;<span
                                                                class="required" required="required">*</span></label>
                                                        <input type="text"
                                                               class="woocommerce-Input woocommerce-Input--text input-text"
                                                               name="username" id="username" autocomplete="username"
                                                               value=""></p>
                                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                        <label for="password">Password&nbsp;<span class="required"
                                                                                                  required="required">*</span></label>
                                                        <span class="password-input"><input
                                                                class="woocommerce-Input woocommerce-Input--text input-text"
                                                                type="password" name="password" id="password"
                                                                autocomplete="current-password"><span
                                                                class="show-password-input"></span></span>
                                                    </p>


                                                    <p class="form-row">
                                                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                                            <input class="woocommerce-form__input woocommerce-form__input-checkbox"
                                                                   name="rememberme" type="checkbox" id="rememberme"
                                                                   value="forever"> <span>Remember me</span>
                                                        </label>
                                                        <input type="hidden" id="woocommerce-login-nonce"
                                                               name="woocommerce-login-nonce" value="41747f64fe"><input
                                                            type="hidden" name="_wp_http_referer"
                                                            value="/my-account/?_ga=2.48395247.871975586.1634652093-587927487.1634652093">
                                                        <button type="submit"
                                                                class="woocommerce-button button woocommerce-form-login__submit"
                                                                name="login" value="Log in">Log in
                                                        </button>
                                                    </p>
                                                    <p class="woocommerce-LostPassword lost_password">
                                                        <a href="https://shop.virasoft.com/my-account/lost-password/">Lost
                                                            your password?</a>
                                                    </p>


                                                </form>


                                            </div>



                                        </div>

                                    </div>
                                </div><!-- .entry-content -->
                            </div>

                        </article><!-- #post-121 -->

                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>

    </div>

{% endblock %}

